<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css_fonts.css">
<title>Document</title>
</head>

<body dir="rtl" class="text-right">

    <nav class="navbar navbar-expand-sm bg-light justify-content-between">
        <div class="d-flex">
            <img class="w-25" src="../../static/images/logo-shop.png">
            <h2>فروشگاه فلان</h2>
        </div>
        <div>
            <a class="navbar-brand" href="#">مدیریت</a>
            <a class="navbar-brand" href="basket.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>سبد خرید</a>
        </div>
    </nav>

<a class="p-2 m-3 h4" href="https://google.com/" >گوشی موبایل</a>
<span class="row p-2 m-2">

<a class="border border-primary col-3 btn btn-link p-2 " href ="https://google.com/">
	<img class="rounded float-right p-2 m-2 " src="../../static/images/105c.jpg">
	<div class="price-new text-right p-2 m-2">Mobile 105C</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->

	<div class="col-1"></div>
<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/Huawei Y5 Lite 2018.jpg">
	<div class="price-new text-right p-2 m-2">Huawei Y5 Lite 2018</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	<div class="col-1"></div>
	<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/iPhone 12 A2404.jpg">
	<div class="price-new text-right p-2 m-2">iPhone 12 A2404</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	</span> <!-- row.// -->

<span class="row p-2 m-2">
<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/Galaxy A10s.jpg">
	<div class="price-new text-right p-2 m-2">Galaxy A10s</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	<div class="col-1"></div>
<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/Galaxy A11 SM.jpg">
	<div class="price-new text-right p-2 m-2">Galaxy A11 SM</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->

	<div class="col-1"></div>

	<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/Galaxy A51 SM.jpg">
	<div class="price-new text-right p-2 m-2">Galaxy A51 SM</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	</span> <!-- row.// -->

<a class="p-2 m-3 h4" href="#" >کالای تلویزیون</a>
<span class="row p-2 m-2">
<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/SSD-50SA620U.jpg">
	<div class="price-new text-right p-2 m-2">SSD-50SA620U سایز 50 اینچ</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	<div class="col-1"></div>
<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/SLD-50SA260U.jpg">
	<div class="price-new text-right p-2 m-2">SLD-50SA260U سایز 50 اینچ
</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	<div class="col-1"></div>
	<a class="border border-primary col-3 btn btn-link p-2" href ="https://google.com/">
	<img class="rounded float-right p-2 m-2" src="../../static/images/DSL-55K5300U.jpg">
	<div class="price-new text-right p-2 m-2">DSL-55K5300U سایز 55 اینچ</div>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
</a> <!-- col // -->
	</span> <!-- row.// -->

</body>

<!--<div class="col-md-4 btn">-->
<!--	<figure class="card card-product">-->
<!--		<div class="img-wrap"><img src="https://s9.postimg.org/ojb106167/image.jpg">-->
<!--		<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
<!--		</div>-->
<!--		<figcaption class="info-wrap">-->
<!--			<h6 class="title text-dots"><a href="#">Name of product</a></h6>-->
<!--			<div class="action-wrap">-->
<!--				<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>-->
<!--				<div class="price-wrap h5">-->
<!--					<span class="price-new">$280</span>-->
<!--				</div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
<!--			</div> &lt;!&ndash; action-wrap &ndash;&gt;-->
<!--		</figcaption>-->
<!--	</figure> &lt;!&ndash; card // &ndash;&gt;-->
<!--</div> &lt;!&ndash; col // &ndash;&gt;-->
