<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css_fonts.css">
<title>Document</title>
</head>

<body dir="rtl">

    <nav class="navbar navbar-expand-sm bg-light justify-content-between">
        <div class="d-flex">
            <img class="w-25" src="../../static/images/logo-shop.png">
            <h2>فروشگاه فلان</h2>
        </div>
        <div>
            <a class="navbar-brand" href="#">مدیریت</a>
            <a class="navbar-brand" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>سبد خرید</a>
        </div>
    </nav>

    <!-- Products TAB -->
    <div class="container">
        <div class="row d-flex justify-content-between">

            <div class="p-4">
                <h3>سبد خرید</h3>
            </div>
            <div class="p-4">

            </div>

        </div>

        <div class="row d-flex justify-content-center">
            <table class="table text-right table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>کالا</th>
                        <th>قیمت</th>
                        <th>تعداد</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>روغن</td>
                        <td>10,000</td>
                        <td>20</td>
                        <td class="text-center">
                            <a href="#">حذف</a>
                        </td>
                    </tr>
                    <tr>
                        <td>قهوه</td>
                        <td>1000</td>
                        <td>150</td>
                        <td class="text-center">
                            <a href="#">حذف</a>
                        </td>
                    </tr>
                    <tr>
                        <td>لوبیا</td>
                        <td>450</td>
                        <td>202</td>
                        <td class="text-center">
                            <a href="#">حذف</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="row d-flex justify-content-between">
            <div>
                جمع:
                2000
            </div>
            <div>
                <a href="checkout.html" class="btn btn-success" role="button">نهایی کردن سبد خرید</a>
            </div>
        </div>
    </div>





    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>