<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>new_products</title>
</head>

<body dir="rtl" class="text-right">

<nav class="navbar navbar-expand-sm bg-light justify-content-between">
    <div class="d-flex">
        <img class="w-25" src="../../static/images/logo-shop.png">
        <h2>فروشگاه فلان</h2>
    </div>
    <div>
        <a class="navbar-brand" href="{{url_for('manager.manage_panel')}}">مدیریت</a>
        <a class="navbar-brand" href="{{url_for('products.cart')}}"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>سبد
            خرید</a>
    </div>
</nav>

<div class="container">


    <div>
        {% for key,val in data.items() %}
        <div class="row">

                <a clas="btn" href="{{url_for('products.category',category_name=key )}}">
                    <h2 id="group_product">{{key}}</h2>
                </a>
        </div>
        <div class="row justify-content-center">
            {% for j in val %}
            <a class="d-flex m-3 justify-content-between align-items-center col-lg-3 col-5 col-sm-8 col-md-5 pr-0 border"
               style="display:inline" href="{{url_for('products.product',product_id=j[3])}}">
                <div>
                    <img src="{{j[0]}}" alt="Img Not Found!" width="100px">
                </div>
                <div class="text-center">
                    <h5 id="name_product">{{j[1]}}</h5>
                    <h4 id="price_product">{{j[2]}} تومان</h4>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>


</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="#">فروشگاه فلان</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- jQuery library -->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>


<script src="{{ url_for('static', filename='js/Popper.js') }}"></script>

<!-- Latest compiled JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/new_products.js') }}?u={{ last_updated }}"></script> -->
<!-- ?u={{ last_updated }} -->
</body>