<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>new_products</title>
</head>

<body dir="rtl" class="text-right">

<nav class="navbar navbar-expand-sm bg-light justify-content-between">
    <div class="d-flex">
        <img class="w-25" src="../../static/images/logo-shop.png">
        <h2>فروشگاه فلان</h2>
    </div>
    <div>
        <a class="navbar-brand" href="{{ url_for('manager.manage_panel') }}">مدیریت</a>
        <a class="navbar-brand" href="basket.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>سبد
            خرید</a>
    </div>
</nav>

<div class="container-fluid pr-0">
    <div class="row flex-nowrap">
        <div class="col-5 col-sm-4 col-md-3 d-flex border-left border-dark">
            <nav class="">

                <div class="p-2 pt-4 pl-4">

                    {% for key,val in lis_prod.items() %}

                    <ul class="list-unstyled components mb-5" id="list_right">
                        <li class="active">
                            <a class="h4" href="{{url_for('products.category',category_name=key)}}">{{key}}</a>

                            <ul class="list-unstyled">
                                {% for j in val %}
                                <li class="h5">
                                    <a href="#">{{j}}</a>
                                </li>
                                {% endfor %}
                            </ul>

                        </li>

                    </ul>
                    {% endfor %}


                </div>
            </nav>
        </div>


        <div class="col-7 col-sm-8 col-md-9 container">
            <div>
                <div class="col-12 p-2">
                    <h2 id="{{category_name}}">کالاهای گروه {{category_name}}</h2>
                </div>


                <div class="row justify-content-around">
                    {% for items in lis_show %}


                    <a class="d-flex m-3 justify-content-between align-items-center col-lg-4 col-6 col-sm-8 col-md-6 pr-0 border"
                       style="display:inline" href="{{url_for('products.product',product_id=items[3])}}">
                        <div>
                            <img src="{{items[2]}}" alt="Img Not Found!" width="100px">
                        </div>
                        <div class="text-center">
                            <h5 id="name_product">{{items[0]}}</h5>
                            <h4 id="price_product">{{items[1]}} تومان</h4>
                        </div>
                    </a>

                    {% endfor %}

                </div>

            </div>


        </div>

    </div>

</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="#">فروشگاه فلان</a>
  </div>
  <!-- Copyright -->
</footer>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/Popper.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>