<!DOCTYPE html>
<html lang="en">

<head>
    <a></a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css_fonts.css">
<title>Document</title>
</head>

<body dir="rtl">
    <nav class="navbar navbar-expand-sm bg-light justify-content-between">
        <h2>پنل مدیریت فروشگاه</h2>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="products.html">کالاها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="inventory.html">انبارها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="quantity.html">موجودی و قیمت ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="orders.html">سفارش ها</a>
            </li>
        </ul>

        <a class="navbar-brand" href="#">بازگشت به سایت</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- TAB مدیریت سفارش ها -->

    <div class="container">
        <row class="d-flex justify-content-between">

            <div class="p-4">
                <h3>مدیریت سفارش ها</h3>
            </div>

        </row>

        <row>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <th>نام کاربر</th>
                    <th>مجموع مبلغ </th>
                    <th>زمان ثبت سفارش</th>
                    <th>گزینه ها</th>
                </thead>
                <tbody>
                    <tr>
                        <td>اکبر زمانی</td>
                        <td>920,000</td>
                        <td>1399/1/5</td>
                        <td>
                            <a data-toggle="modal" href="#Modal_order"> بررسی سفارش </a>
                        </td>
                    </tr>
                    <tr>
                        <td>اکبر زمانی</td>
                        <td>920,000</td>
                        <td>1399/1/5</td>
                        <td>
                            <a data-toggle="modal" href="#Modal_order"> بررسی سفارش </a>
                        </td>
                    </tr>
                    <tr>
                        <td>اکبر زمانی</td>
                        <td>920,000</td>
                        <td>1399/1/5</td>
                        <td>
                            <a data-toggle="modal" href="#Modal_order"> بررسی سفارش </a>
                        </td>
                    </tr>


                </tbody>
            </table>
            <!-- Modal بررسی سفارش -->
            <div class="modal fade" id="Modal_order" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="d-flex justify-content-between modal-header">
                            <div>
                                <h4 class="modal-title">نمایش سفارش</h4>
                            </div>
                            <div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex">
                                <div>نام مشتری:</div>
                                <div>ایمان</div>
                            </div>
                            <div class="d-flex">
                                <div>آدرس:</div>
                                <div>خراسان رضوی شهرستان جغتای </div>
                            </div>
                            <div class="d-flex">
                                <div>تلفن:</div>
                                <div>09101234562</div>
                            </div>
                            <div class="d-flex">
                                <div>زمان تحویل:</div>
                                <div>ساعت 12 ظهر 21 خرداد</div>
                            </div>
                            <div class="d-flex">
                                <div>زمان سفارش:</div>
                                <div>ساعت 9 صبح 15 خرداد </div>
                            </div>

                            <div>
                                <table class="w-75 table table-sm table-striped table-bordered">
                                    <thead>
                                        <th>کالا</th>
                                        <th>قیمت</th>
                                        <th>انبار</th>
                                        <th>تعداد</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>روغن</td>
                                            <td>10,000</td>
                                            <td>انبار شماره 1</td>
                                            <td>20</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="d-flex justify-content-center modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
        </row>
    </div>




    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>