{% extends 'index/base.html' %}
{% block content %}
<span class="row p-2 m-2">

<div class="border border-primary col-8 img-responsive p-2 ">
	<img class="rounded float-right p-2 m-2 w-200 img-responsive col-3" src="../../static/images/105c.jpg">
	<div class="price-new text-right p-2 m-2">Mobile 105C</div>
    <p>کاالالالا بسیب  بی سیشسسبسی  سیب س</p>
	<div class="price-new text-right p-2 m-2">20000 هزار تومان</div>
	<div class="text-right p-2 m-2">
        <form id="jens">
        <input type="number" class="form-range m-2" min="0" max="1000" id="tedad">
        <button for="tedad" type="submit" class="btn btn-success col-3  p-2 shadow-lg">افزودن به سبد خرید</button>
        </form>
    </div>
</div> <!-- col // -->
    <p class="m-2 p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>

<span class="row p-2 m-2"></span>

</span>
    {% endblock %}