{% extends 'base.html' %}

{% block title %}
  <h1>Log In</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('manager.register')}}">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% if error %}
<div style="background-color: red;height: 100px">{{error}}</div>
{%endif%}
<!--{% block message %}-->
<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for message in messages %}-->
<!--      <li>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->


<!--{% endblock%}-->


{% endblock %}